body {
	font-family: sans-serif;
}

.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.content {
  margin: 0 20px;
}

.block-heading {
  margin-bottom: 30px;
  color: #000;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-cta {
  display: inline-block;
  width: 300px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #2996f3;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-cta:hover {
  background-color: #7abcf1;
}

.btn-cta:active {
  background-color: #0665b1;
}

ul {
	width: 100%;
	list-style: none;
	display: inline-block;
	padding: 0;
}

li {
  width: 50%;
  float: left;
	text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}

.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 20px;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
}

.light .popup {
  border-color: #aaa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.popup h2 {
  margin-top: 0;
  font-size: 30px;
  letter-spacing: 1;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 20px 0;
  color: #000;
  font-family: sans-serif;
}
.popup .close {
  position: absolute;
  color: #000;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  top: 10px;
  right: 10px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 44px;
  text-decoration: none;
  background-color: #d3d3d3;
  cursor: pointer;

}
.popup .close:hover {
  opacity: 1;
}

.popup .pop-content {
	max-height: 100vh;
	height: 100%;
  overflow-y: auto;
}

.popup p {
  margin: 0;
}

.popup p:last-child {
  margin: 0;
}

.pop-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.pop-content p {
	font-family: sans-serif;
  color: #000;
  font-size: 18px;
}

.pop-content span {
	font-family: sans-serif;
  color: #808080;
  font-size: 15px;
}

@media (max-width: 600px) {
  .content {
    margin: 0;
  }
  .block-heading {
    font-size: 45px;
    text-align: center;
  }
  .content {
    padding-right: 20px;
    padding-left: 20px;
  }
  .btn-cta {
    width: 100%;
    font-size: 25px;
  }
	.content li {
    width: 100%;
    float: none;
  }
}